
<div class="container" >

<% if @user.errors.any? %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card bg-danger text-white crd_stl">
      <div class="card-body">
        <h4 class="card-title">
          <%= pluralize(@user.errors.count, "Error")%>
          Occurred:
        </h4>
        <div class="card-text">
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      </div>
      </div>
      </div>
  </div>
</div>
  <% end %>

  <!-- <div class="col-md-12"> model: @article, class: "form-horizantal" -->
    <%= form_for @user  do |f| %>
    <div class="form-group row">
    <div class="control-label col-sm-2 text-right lbl_font">
      <%= f.label :username %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :username, class: 'form-control', placeholder: "User Name", autofocus: true %>
    </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2 text-right lbl_font">
        <%= f.label :email %>
      </div>
      <div class="col-sm-8">
        <%= f.email_field :email, class:"form-control", placeholder:"Email" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2 text-right lbl_font">
        <%= f.label :password %>
      </div>
      <div class="col-sm-8">
        <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
      </div>
    </div>

    <div class="form-group row d-flex justify-content-center">
      <div class="col-sm-10 col-sm-offset-2" align="center">
        <%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn btn-primary btn-lg")%>
      </div>
    </div>
    <% end %>
  <!-- </div> -->
</div>
<div class="col-xs-4 col-xs-offset-4 pd_align" align="center">
  [<%= link_to "Cancel And Return Article Listing", articles_path%>]
</div>
